/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  display: block;
  background-color: #333;
  padding: 20px !important; }

pre .nocode {
  background-color: none;
  color: black; }

pre .str {
  color: #ffa0a0; }

/* string  - pink */
pre .kwd {
  color: #f0e68c;
  font-weight: bold; }

pre .com {
  color: skyblue; }

/* comment - skyblue */
pre .typ {
  color: palegreen; }

/* type    - lightgreen */
pre .lit {
  color: indianred; }

/* literal - darkred */
pre .pun {
  color: white; }

/* punctuation */
pre .pln {
  color: white; }

/* plaintext */
pre .tag {
  color: #f0e68c;
  font-weight: bold; }

/* html/xml tag    - lightyellow */
pre .atn {
  color: #bdb76b;
  font-weight: bold; }

/* attribute name  - khaki */
pre .atv {
  color: #ffa0a0; }

/* attribute value - pink */
pre .dec {
  color: palegreen; }

/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae; }

/* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none; }

/* Alternate shading for lines */
@media print {
  pre.prettyprint {
    background-color: none; }

  pre .str, code .str {
    color: #006600; }

  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold; }

  pre .com, code .com {
    color: #600;
    font-style: italic; }

  pre .typ, code .typ {
    color: #404;
    font-weight: bold; }

  pre .lit, code .lit {
    color: #004444; }

  pre .pun, code .pun {
    color: #444400; }

  pre .pln, code .pln {
    color: black; }

  pre .tag, code .tag {
    color: #006;
    font-weight: bold; }

  pre .atn, code .atn {
    color: #440044; }

  pre .atv, code .atv {
    color: #006600; } }
/* Base styles for responsive example site.
==================================================== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #efefef;
  color: #2d2d2d;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #e31936;
  text-decoration: none; }
  a:hover {
    color: #9e1327; }

h1 {
  color: #e31936;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 50px; }

h2 {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 30px; }
  h2:first-child {
    margin-top: 0; }

code {
  color: #e31936; }

#logo {
  background: url(../img/logo.png) 0 0 no-repeat;
  height: 50px;
  width: 162px;
  text-indent: 500px;
  overflow: hidden;
  padding: 0;
  margin: 0 0 20px 100px; }

#page-wrapper, footer {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); }

header {
  padding: 20px 0;
  border-top: 8px solid #2d2d2d; }

footer {
  background: #303030;
  color: #666;
  padding: 20px 100px;
  text-align: right;
  font-size: 80%; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #ccc; }

#mobile-menu-trigger {
  display: none; }

ul#main-nav {
  margin: 0;
  padding: 0 100px;
  background: #e31936; }
  ul#main-nav li {
    display: block;
    float: left;
    border-right: 1px solid #9e1327; }
    ul#main-nav li:first-child {
      border-left: 1px solid #9e1327; }
    ul#main-nav li a {
      padding: 10px 30px;
      display: inline-block;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }
    ul#main-nav li ul {
      display: none; }
    ul#main-nav li:hover {
      background: #9e1327; }
      ul#main-nav li:hover ul {
        display: block;
        position: absolute;
        z-index: 100;
        background: #9e1327;
        margin: 0;
        padding: 0; }
      ul#main-nav li:hover li {
        display: block;
        float: none;
        border: 0;
        border-top: 1px solid #e31936; }
        ul#main-nav li:hover li:last-child {
          border-bottom: 1px solid #e31936; }

#main {
  padding: 20px 100px 50px 100px; }

.slideshow {
  margin-bottom: 40px;
  width: 100% !important;
  height: auto !important;
  padding-bottom: 0; }
  .slideshow img {
    width: 100% !important;
    padding-bottom: 10px; }
  .slideshow.enabled {
    height: 0 !important;
    padding-bottom: 41.67%; }
    .slideshow.enabled img {
      height: auto !important; }

.columns .column1, .columns .column2 {
  float: left;
  width: 49.9%; }
.columns .column1 {
  padding-right: 10px; }
.columns .column2 {
  padding-left: 10px; }
.columns img {
  max-width: 100%; }
.columns img.half {
  max-width: 48%; }

@media (max-width: 960px) {
  ul#main-nav {
    padding: 0 40px; }

  #main {
    padding: 20px 40px; }

  #logo {
    margin-left: 40px; }

  footer {
    padding: 20px 40px; } }
@media (max-width: 850px) {
  ul#main-nav {
    padding: 0 40px; }
    ul#main-nav li a {
      padding: 5px 10px; }

  #main {
    padding: 20px 40px; }

  #logo {
    margin-left: 40px; } }
@media (max-width: 570px) {
  .columns .column1, .columns .column2 {
    float: none;
    width: 100%;
    padding: 0; }

  #mobile-menu-trigger {
    display: block;
    background: url(../img/menu-icon.png) 0 0 no-repeat;
    height: 25px;
    width: 25px;
    text-indent: 500px;
    overflow: hidden;
    float: right;
    margin: 10px 40px;
    cursor: pointer; }

  ul#main-nav {
    height: 0;
    padding: 0;
    border-top: 5px solid #e31936;
    overflow: hidden; }
    ul#main-nav.open {
      height: auto;
      border-top: 5px solid #9e1327; }
    ul#main-nav li, ul#main-nav li:first-child {
      float: none;
      border: 0;
      border-bottom: 1px solid #9e1327;
      padding: 10px 40px; }
      ul#main-nav li:hover, ul#main-nav li:first-child:hover {
        background: #9e1327; }
        ul#main-nav li:hover ul, ul#main-nav li:first-child:hover ul {
          position: static; }
          ul#main-nav li:hover ul li, ul#main-nav li:first-child:hover ul li {
            padding-left: 20px; }
            ul#main-nav li:hover ul li:before, ul#main-nav li:first-child:hover ul li:before {
              content: "> ";
              color: #fff; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, ul#main-nav:before, .columns:before,
.clearfix:after,
ul#main-nav:after,
.columns:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, ul#main-nav:after, .columns:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix, ul#main-nav, .columns {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
